# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.project
.pydevproject
.pyenv
.settings/
*.pyc
.project
.pydevproject
.settings/
.pyenv/
images/
**/thumbnails/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
